@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    font-family: 'Oswald', sans-serif;
}
/*====================================
        Banner-css 
====================================**/
.carousel-item{
    height: 42rem;
    background: rgb(43, 41, 41);
    color: rgb(255, 255, 255);
    position: relative;
    background-position: center;
    background-size: cover;
}
.caption{
    position: relative;
    text-align: center;
    padding-top: 15rem;
}
.caption>h2{
    font-size: 45px;
}
.caption>p{
    font-size: 20px;
}


.overlay-image{
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
.flex-column>img{
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
}

